.calculator {
  background: rgb(211, 212, 212);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 70vw;
  box-shadow: rgba(0, 0, 0, 0.7) 5px 7px 20px -5px,
    rgba(0, 0, 0, 0.8) 0px 8px 56px -8px;
}

#display {
  background-color: rgb(35, 37, 40);
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 50%,
      transparent 50%
    ),
    linear-gradient(rgba(255, 255, 255, 0.05) 50%, transparent 50%);
  background-size: 5px 5px;

  /* The rest of your styles */
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding-left: 0px;
  max-width: 400px;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: unset;
  border-radius: 10px;
}

.button-panel-menu {
  background-color: rgb(231, 229, 229);
  border-radius: 10px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  display: flex;
}

.copyright {
  color: rgb(86, 86, 86);
  text-align: center;
  font-weight: 700;
  margin: auto;
}

.button-panel-menu button:last-child {
  margin-left: 8px;
}

.button-panel-calculate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.button-panel-symbols {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}
