.calculator_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(229, 255, 30);
  font-size: 2rem;
  color: rgb(44, 40, 40);
  transition: all ease 0.1s;
  border: none;
  border-bottom: 4px rgb(128, 128, 0) solid;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.calculator_button:hover {
  background-color: rgb(241, 255, 131);
}

.calculator_button:active {
  transform: translateY(5px) scale(0.9);
}
